**/.classpath
**/.dockerignore
**/.env
**/.git
**/.project
**/.settings
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/secrets.dev.yaml
**/values.dev.yaml
*.user
*.dbmdl
*.jfm
*.log
!**/.gitignore
